#Files mentioned in this file will be ignored by git
*.pyc
*.eggs
*.log
*.mbtree
dist
build
audiomass.egg-info
deb_dist
audiomass.spec
Audiomass.spec
*.tar.gz
ENV
env
*.spec
*.AppImage
*.egg-info
Pipfile
Pipfile.lock
*.DS_Store
*.directory
*.kate-swp
*~
